<!-- <a href="/">Home</a>
<a href="/about">about</a> -->
<!-- index.js me maine inlcude method use krke ye upper two lines ko use kr liya hai it is a feature of ejs -->


<!-- this feature is usually use jab koi chiz repeat ho rhi hai then osko .ejs file me rakh lo and include method use krte jao jaha jaha include krna hai -->



<nav class="bg-primary-subtle navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Express</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/products">Products</a>

            </div>
        </div>
    </div>
</nav>